.alert {
    border-radius: 0 !important;
}

#logo{
    margin-top:10px;
    margin-bottom: 10px;
}

/*Toggle style for checkbox Android*/
.toggle.android { border-radius: 0px;}
.toggle.android .toggle-handle { border-radius: 0px; }

.modal-title {
    display: inline-block !important;
    font-width: bold !important;
}

table.dataTable tbody th, table.dataTable tbody td  {
    vertical-align: middle;
}

main-footer {
    text-align: center;
}

#cardsMain_filter{
    display: none !important;
}